{{yield}}

<br>
<br>
<br>
<br>


<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    All Buildings
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {{#each model.buildings as |building| }}
      <li>{{#link-to "buildings" building}}{{building.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>



