{{yield}}

<br>

<div class="panel-heading">
    <h3 class="panel-title">I'd like to add my $0.02!</h3>
  </div>
    <form class="form" {{action "submit" on="submit"}}>
    <div class="form-group">
      <label for="message-content"></label>
      {{textarea value=newMessage class="form-control" id="message-content"}}
    </div>
    <button type="submit" class="btn btn-success btn-lg align-center">Submit</button>
  </form>


