<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="well bs-component">
        <form class="form-horizontal"{{action "authenticate" on="submit"}}>
          <fieldset>
            <legend>Login</legend>
              <div class="form-group">
                <label for="identification" class="col-lg-3 control-label form-text">Email</label>
                <div class="col-lg-9">
                  {{input id='identification' class="form-control input-lg" placeholder='Enter Email' value=identification type="email"}}
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-lg-3 control-label form-text">Password</label>
                <div class="col-lg-9">
                  {{input id='password' class="form-control input-lg" placeholder='Enter Password' type='password' value=password}}
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-3">
                  <button type="submit" class="btn btn-primary btn-lg">Login</button>
                </div>
              </div>
              </fieldset>
            </form>
        </div>
      </div>
    </div>
  </div>
