{{#if isHome}}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="">
      <ul class="nav navbar-nav">
        <li class="my-nav-item"></li>
        <!-- {{#if session.isAuthenticated}} -->
          <!-- <li class="my-nav-item"><button {{action "logout"}}{{link-to "Logout" "logout"}}></button></li> -->
        <!-- {{else}} -->
        <!-- <li class="my-nav-item">{{link-to "Login" "login"}}</li> -->
          <!-- {{/if}} -->
      </ul>
    </div>
  </div>
</nav>

{{/if}}
