
{{outlet}}
<footer class="">
<div class="container row footer-row">
    <p class="text-center"><button class="btn btn-sm btn-default"{{action 'invalidateSession' building}}>Logout</button>&copy; 2016, RezzBuzz.  Made with <span class="glyphicon glyphicon-heart"></span> at <a href="http://flatironschool.com">The Flatiron School</a></p>
</div>
</footer>
