{{outlet}}
<div class="container row">
<footer class="">
    <p class="pull-left">&copy; Copyright 2016. RezzBuzz.</p>
    <p class="pull-right">Made with <span class="glyphicon glyphicon-heart"></span> at <a href="http://flatironschool.com">The Flatiron School</a></p>
</footer>
</div>
