<nav class="navbar navbar-default">  
  <div class="container">
    

    <div class="collapse navbar-collapse" id="">
      <ul class="nav navbar-nav">
        <li class="my-nav-item"></li>
      </ul>
    </div>
  </div>
</nav>




{{outlet}}

<footer class="hidden-xs">  
    <p class="pull-left">&copy; Copyright 2016. RezzBuzz.</p>
    <p class="pull-right">made with <span class="glyphicon glyphicon-heart-empty"></span> @ <a href="http://flatironschool.com">The Flatiron School</a></p>
</footer>