<div class="jumbotron homepage">
   <div class="container">
      <h1 class= "text-center">Welcome to RezzBuzz</h1>
      <p class= "text-center">An app that lets residents discuss the building's buzz</p>
        <div class= "text-center">
        <div class="">


      {{#link-to "users.new" class="btn btn-primary btn-lg btn-success"}} Sign Up {{/link-to}}
   
      
      {{#link-to "login" class="btn  btn-success btn-lg"}} Log In {{/link-to}}


      {{#link-to "users.new" class="btn btn-lg btn-success"}} Sign Up {{/link-to}}
      <div class="col-xs-1"></div>
      {{#link-to "login" class="btn  btn-success btn-lg"}} Log In {{/link-to}}

      </div>
      </div>
    </div>
</div>
