<div class="jumbotron homepage">
   <div class="container">
      <h1 class= "text-center">Welcome to RezzBuzz</h1>
      <p class= "text-center">An app that lets residents discuss the building's buzz</p>
        <div class= "text-center">
        <div class="">

      {{#if session.isAuthenticated}}
        <li>{{#link-to "logout"}}Logout{{/link-to}}</li>
      {{else}}
        {{#link-to "users.new" class="btn btn-lg btn-success"}} Sign Up {{/link-to}}
        {{#link-to "login" class="btn  btn-success btn-lg"}} Log In {{/link-to}}
      {{/if}}

      </div>
      </div>
    </div>
</div>
