<h1 id="title">Welcome to RezzBuzz</h1>
<h4 id="">An app that lets residents discuss the building's buzz</h4>

<h3>{{#link-to "users.new"}} Sign Up {{/link-to}}</h3>
<h3>{{#link-to "users"}} Log In {{/link-to}}</h3>